:root {
  --color-primario-azul: #004368 !important;
  --color-botones-enlaces: #2c6e75 !important;
  --textos-secundarios: #6b7278 !important;
  --color-primario-gris: #c8c9cb !important;
  --color-secciones: #d4d9e2 !important;
  --color-contraste: #f8f8f2 !important;
  --color-bordes-lineas: #c9a86a !important;
  --color-fondo-blanco: #f8ffef !important;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

@font-face {
  font-family: "Breul Grotesk";
  src: url("ruta/breul-grotesk.woff2") format("woff2"),
    url("ruta/breul-grotesk.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

.n_fondo {
  position: relative;
  background-image: url("../img/nosotros/equipo.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  width: 100%;
}

.n_fondo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.uk-text-center {
  position: relative;
  z-index: 2;
  color: white;
}

.n_titulo {
  font-family: "Breul Grotesk", "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: var(--color-primario-gris);
}

.n_subtitulo {
  font-family: "Breul Grotesk", "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
  color: var(--color-primario-gris);
}
.n_equipo_titulo {
  font-family: "Breul Grotesk", "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: var(--color-primario-azul);
}

.n_equipo_colaborador {
  background-image: url("../img/colaborador.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 75%;
}

.n_equipo_nombre {
  margin: 5px;
  font-family: "Breul Grotesk", "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  max-width: 800px;
  color: var(--color-primario-azul);
}

.n_equipo_cargo {
  margin: 5px;
  font-family: "Breul Grotesk", "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  max-width: 400px;
  color: var(--color-primario-azul);
}

.n_equipo_correo {
  padding: 15px;
  font-family: "Breul Grotesk", "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  max-width: 800px;
  color: var(--color-primario-azul);
}
.n_equipo_modal_imagen {
  background-image: url("../img/colaborador.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.n_circulo_logros {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: var(--color-primario-azul);
}

.n_imagen_logro{
  width: 65%;
  height: auto;

}