:root {

    --font-famili: 'Lato';
    --font-famili-regular: normal;

    --font-family-monserrat: 'Monserrat', sans-serif;
    --font-family-poppins: 'Poppins', sans-serif;
    --font-family-nunito: 'Nunito', sans-serif;
    --font-family-raleway: 'Raleway', sans-serif;

    --font-family-breul: 'BreulGroteskA', sans-serif;


    --color-principal: #004368;
    --color-verde-solido: #2C6E75;
    --color-gris-oscuro: #6B7278;
    --color-gris: #C8C9CB;
    --color-purpura-claro: #D4D9E2;
    --color-claro: #F8F8F2;
    --color-marron-claro: #C9A86A;
    --color-claro-2: #F8FFEF;

    --color-blanco: #FFFFFF;
    --color-negro: #000;

    --plyr-color-main: #C9A86A;
    --plyr-control-icon-color: #F8FFEF;
    --plyr-video-control-background: rgba(0, 0, 0, 0.7);

}

body {
    font-family: var(--font-famili);
    font-weight: var(--font-famili-regular);
}

input:focus {
    outline: none;
}

.plyr__control {
    color: var(--color-principal);
}

.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6,
.uk-heading-2xlarge,
.uk-heading-3xlarge,
.uk-heading-large,
.uk-heading-medium,
.uk-heading-small,
.uk-heading-xlarge,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-famili);
    font-weight: var(--font-famili-regular);
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    margin: 0px;
}

a:hover {
    text-decoration: none;
    color: initial;
}

.img_full_h img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.img_full_h_cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.boder_radius_20 {
    border-radius: 20px;
    overflow: hidden;
}

.gap_5_t {
    gap: 5px;
}


.gap_10_t {
    gap: 10px;
}

.gap_20_de {
    gap: 20px;
}

.gap_40_de {
    gap: 40px;
}

.p_t_20 {
    padding-top: 20px;
}

.m_0 {
    margin: 0px;
}

.btn_principal,
.uk-button.btn_principal {
    background-color: var(--color-principal);
    color: var(--color-blanco);
    border-radius: 10px !important;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn_principal:hover {
    background-color: var(--color-marron-claro);
    color: var(--color-negro);

}

.title_pages_bar {
    color: var(--color-gris);
    font-size: 35px;
    font-family: var(--font-family-breul);
    font-weight: 600;
    letter-spacing: 1.2px;
}

.textcontent_pages_bar {
    color: var(--color-gris) !important;
    font-family: var(--font-family-breul);
    font-size: 22px;
}

.title_pages_services{
    color: var(--color-principal);
    font-size: 35px;
    font-family: var(--font-family-breul);
    font-weight: 600;
    letter-spacing: 1.2px;
}

.item_page_servicios li.separator::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px; 
    background-color: var(--color-verde-solido);
    margin-top: 5px; 
}

.button_slider{
    margin: auto;
    font-family: var(--font-famili);
    font-size: 15px;
}

.button_normal{
    font-family: var(--font-famili);
    font-size: 15px;
}